* {
    margin: 0px;
    font-size: 1.2em;
  }

  .input {
    border: 1px solid #aaa;
    margin: 10px;
    width: 1200px;
    caret-color: black;
    ddisplay: flex;
    dflex-wrap: wrap;
  }
  .italy {
    border-color: darkkhaki;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
  }
  .france {
    border-color:steelblue;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
  }
  .usa {
    border-color: palevioletred;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
  }
  .toyota{
    border-color:peru;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
  }
  .hyundai{
    border-color:darkgrey;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
  }
  .oper {
    color:cornflowerblue;
  }
  .par1 {
    color: blue;
  }

  .par2 {
    color: green;
  }

  .par3 {
    color:purple;
  }

  .par4 {
    color: orange;
  }
  .par5 {
    color:lightseagreen
  }

  .buildings, .states {
    color:darkmagenta;
  }
  .prop {
    border-color:olive;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
  }
  .error {
    border-bottom: 5px solid red;
  }
  .nostyle{
    color: unset;
  }